rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /apartments/{apartmentId} {
      allow read, write: if true;
    }
    match /system/{docId} {
      allow read, write: if true;
    }
    match /duty_messages/{messageId} {
      allow read, write: if true;
    }
  }
}
